<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
	<title>Shopping List</title>   
</head>
<body id="deviceready">
	<div id="listmanager">
		<!--Список пользовательских слов НАЧАЛО-->
		<div class="list-is" id="userlist" v-bind:class="{long:isLong}">
			<div v-for="(item, index) in listUserLines" class="list-i" v-bind:class="{disabled: item.isDisabled, blink:(index==0&&activeFirstElement==true)}">
				<div class="i-btn remove" @click="listUserLines.splice(index, 1)"><i class="fa fa-trash-o"></i></div>
				<div class="i-txt" @click="{item.isDisabled=!item.isDisabled}"><span class="text1">{{item.text1}}</span> <span class="text2">{{item.text2}}</span></div>
				<div class="i-btn apply" @click="{item.isDisabled=!item.isDisabled}">
					<i class="fa" v-bind:class="{'fa-check-circle':item.isDisabled, 'fa-check':!item.isDisabled}"></i>
				</div>
			</div>
		</div>
		<!--Список пользовательских слов КОНЕЦ-->
		<!--Список слов поиска НАЧАЛО-->
		<div class="list-s-is" v-bind:class="{'active-search':isActiveSearch}">
			<div class="list-s-i" v-for="item in listItemWorlds" v-if="listItemWorlds.length>0">
				<div @click="selectWorld(item.name)">{{item.name}}</div>
				<div @click="addWorld(item.name)"><i class="fa fa-check"></i></div>
			</div>

		</div>
		<!--Список слов поиска КОНЕЦ-->
		<!--Поле ввода для поиска НАЧАЛО-->
		<div class="search-block" v-bind:class="{long:isLong}">
			<div class="colapse-button" @click="{isLong=!isLong}"><i class="fa fa-chevron-down" v-bind:class="{'long':!isLong}"></i></div>
			<input type="text" id="searchinput" tabindex="0" data-lang="search-placeholder" v-on:keyup="addWorldFromInput" v-model="searchValue" />
			<div class="search-paceholder" v-if="!isActiveSearch">Название Количество</div>
			<i class="fa fa-search search-icon"></i>
			<div class="tools-button"><i class="fa fa-bars"></i></div>
		</div>
		<!--Поле ввода для поиска КОНЕЦ-->
	</div>


	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" data-main="scripts/startup" src="lib/require.2.1.8.js" async></script>

	<script src="scripts/typings/TS/db-manager.js"></script>
	<script src="scripts/vue.min.js"></script>
	<script src="scripts/typings/TS/list-manager.js"></script>
	<script src="scripts/typings/TS/list-worlds.js"></script>
	<script src="scripts/typings/TS/main.js"></script>
</body>
</html>